@use 'src/scss/utils/vars' as *;
@use 'src/scss/utils/mixins' as *;

.Cards {
  @include media-breakpoint-down(xl) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include media-breakpoint-down(sm) {
    grid-template-columns: 100%;
  }

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: rem(44) rem(24);

  &Controls {
    display: grid;
    grid-auto-columns: auto;
    grid-auto-flow: column;
    gap: rem(16);
    margin-bottom: rem(40);
  }
}

.Wrapper {
  @include media-breakpoint-down(xl) {
    grid-template-columns: rem(672) rem(280);
    gap: rem(24);
  }
  @include media-breakpoint-down(lg) {
    grid-template-columns: 100%;
  }

  display: grid;
  grid-template-columns: 1fr rem(424);
  gap: rem(40);
  width: 100%;
}

.Subscribe {
  padding: rem(64) 0;
  border-top: 1px solid rgba($color: #000, $alpha: 0.12);
  border-bottom: 1px solid rgba($color: #000, $alpha: 0.12);
  border-radius: rem(2);
}

.Info {
  display: grid;
  grid-template-columns: 100%;
  gap: rem(24) 0;
  padding: rem(28) 0 rem(100);

  [class~='text-regular'] {
    margin-bottom: rem(8);
  }
}
