@use 'src/scss/utils/vars' as *;
@use 'src/scss/utils/mixins' as *;

%button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: rem(12) 0;
  border: 1px solid;
  border-radius: rem(24);
  color: $mainFontColor;
  line-height: 1.7;
  letter-spacing: rem(0.6);
  text-transform: uppercase;
  cursor: pointer;
  transition: background 0.3s ease, border 0.3s ease;
}

%chip {
  @include media-breakpoint-down(xl) {
    margin-right: rem(8);
  }

  margin-right: rem(16);
  padding: rem(4) rem(16);
  border-radius: rem(4);
  background-color: $static;
  white-space: nowrap;
  cursor: pointer;
}

%primary-state {
  &:hover {
    border-color: $primary-hover;
    background-color: $primary-hover;
  }

  &:active {
    border-color: $primary-hover;
    background-color: $primary-active;
  }
}

%secondary-state {
  &:hover {
    background-color: rgba($color: $primary, $alpha: 0.3);
  }

  &:active {
    background-color: $primary-active;
  }
}

%chip-state {
  &:hover {
    background-color: $static-hover;
  }
}

.Button {
  &Primary {
    @extend %button;
    @extend %primary-state;

    border-color: $primary;
    background-color: $primary;
  }

  &Secondary {
    @extend %button;
    @extend %secondary-state;

    border-color: $primary;
    background-color: transparent;
  }

  &Chip {
    @extend %chip;
    @extend %chip-state;

    &[class~='is-active'] {
      @extend %primary-state;

      background-color: $primary;
    }
  }
}
