@use 'vars' as *;
@use 'libs' as *;
@use 'mixins' as *;

.h1 {
  @include font-size(48);
  @include media-breakpoint-between(0, md) {
    @include font-size(40);

    line-height: 1.2;
  }

  line-height: 1.17;
}

.h2 {
  @include font-size(32);
  @include media-breakpoint-between(0, md) {
    @include font-size(28);

    line-height: 1.29;
  }

  line-height: 1.25;
}

.h3 {
  @include font-size(20);

  line-height: 1.4;
}

.text {
  &-regular {
    @include font-size(16);
  }

  &-small {
    @include font-size(14);
  }

  &-extrasmall {
    @include font-size(12);
  }
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

.inherit {
  font-weight: inherit;
  font-size: inherit;

  &-weight {
    font-weight: inherit;
  }

  &-size {
    font-size: inherit;
  }
}
