/* Vars:
   ========================================================================== */

// Font
$mainFont: 'Rubik', sans-serif;
$mainFontSize: 16px;
$mainLineHeight: 1.5;
$mainFontWeight: normal;
$mainFontColor: #3f4756;

//colors
$primary: #fdd835;
$primary-hover: #f3d035;
$primary-active: #eecb30;
$secondary: #fff;
$fontAlt: #3b3c3c;
$placeholder: #848585;
$white: #fff;
$static: #3f47561f;
$static-hover: #3f47563d;
$info: #4989e0;
$info-hover: #2d69ba;
$invalid: #f8a1a1;
$success: #6bc887;
$danger: #f47d7d;
//hamburger

// grid
$grid-desktop: 12;
$grid-desktop-gap-col: 30px;
$grid-desktop-gap-row: 30px;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  lg: 768px,
  xl: 1366px,
  xxl: 1680px,
);
$container-max-widths: (
  sm: 540px,
  lg: 720px,
  xl: 975px,
  xxl: 1460px,
);
