@use 'src/scss/utils/vars' as *;
@use 'src/scss/utils/mixins' as *;

.broker {
  padding: rem(56 - 16) 0 rem(64);

  .h2 {
    @include media-breakpoint-down(xl) {
      text-align: center;
    }

    margin-bottom: rem(32);
  }

  .text-regular {
    @include media-breakpoint-down(xl) {
      text-align: center;
    }
  }

  &__container {
    @include make-grid-container-max-widths();
  }

  &__outer {
    @include media-breakpoint-down(xl) {
      grid-template-columns: 1fr;
      gap: rem(32) 0;
    }

    display: grid;
    grid-template-columns: minmax(auto, rem(368)) 1fr;
    gap: 0 rem(68);
    max-width: rem(1145);
  }

  &__brand {
    @include media-breakpoint-down(xl) {
      max-width: rem(256);
      height: rem(192);
      margin: 0 auto;
    }

    width: 100%;
    height: 100%;
  }

  &__divider {
    @include make-col-fluid();
    @include media-breakpoint-down(xl) {
      margin: rem(16) 0;
    }

    height: 1px;
    margin: rem(64) 0;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.12);
  }

  &__form {
    @include make-col-fluid();

    .h2 {
      margin-bottom: rem(48);
      text-align: center;
    }

    &-body {
      @include media-breakpoint-between(0, xs) {
        grid-template-columns: 1fr;
      }

      display: grid;
      grid-template-columns: minmax(auto, rem(362)) minmax(auto, rem(178));
      gap: rem(24) rem(32);
      width: 100%;
      max-width: rem(572);
      margin: 0 auto;
    }

    &-agreement {
      @include make-col-fluid();

      color: rgba(59, 60, 60, 0.6);
      text-align: center;
    }
  }
}
