mixin screenBroker(title, descr, svg)
  section.broker
    +wrapper('broker')
      .broker__outer
        +icon('broker__brand', svg)
        .broker__descr
          h2.h2.bold !{ title }
          p.text-regular !{ descr }
        .broker__divider
        form.broker__form(method="POST", action="#")
          h2.h2.bold Подпишитесь на рассылки и обновления TrueBRO
          .broker__form-body
            +inputField('email', 'email', 'Пожалуйста введите ваш е-мail')
            +buttonPrimary('#', 'Подписаться', false, true)
            p.text-small.broker__form-agreement Нажимая на кнопку «Подписаться» я даю согласие на обработку персональных данных и подтверждаю что мне есть 18 лет.
