@use 'src/scss/utils/vars' as *;
@use 'src/scss/utils/mixins' as *;

.Tabs {
  &Wrapper {
    display: block;
  }

  &Head {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: rem(24);
  }

  &Button {
    &:last-child {
      margin-right: 0;
    }
  }

  &Content {
    display: none;

    &[class~='is-active'] {
      display: block;
    }
  }

  &Body {
    display: block;
  }
}
