extends ../../layout/main

block variables
  - title = 'TrueBRO';
  - description = '';
  - theme = '#FDD835';
  - slug = 'index';
  - pageClass = slug + '-page';

block content
  section.index__screen
    +wrapper(slug)
      h1.h1.bold Лучшие брокеры тут
      p.text-regular Рейтинг основанный на множестве характеристик, этот рейтинг Форекс брокеров поможет найти лучшие условия исходя из анализа спредов, максимального кредитного плеча и минимального депозита. Также были учтены независимые отзывы и оценки посетителей
