@use 'src/scss/utils/vars' as *;
@use 'src/scss/utils/mixins' as *;

.InputTextArea {
  display: block;
  width: 100%;
  padding: rem(12) rem(16);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: rem(3);
  color: $mainFontColor;
  resize: none;

  &::placeholder {
    color: $placeholder;
  }

  &:focus {
    border-color: $primary;
  }

  &:invalid {
    border-color: $invalid;
  }
}
