@use 'src/scss/utils/vars' as *;
@use 'src/scss/utils/mixins' as *;

.Page {
  &Wrapper {
    padding: rem(40) 0 rem(64);
  }

  &Header {
    @include make-col-fluid();

    margin-bottom: rem(32);
  }

  &Container {
    @include media-breakpoint-down(xl) {
      grid-template-columns: minmax(auto, rem(670)) minmax(auto, rem(280));
      grid-auto-flow: column;
      gap: rem(32) rem(25);
    }
    @include media-breakpoint-down(lg) {
      grid-template-columns: 100%;
      grid-auto-flow: row;
      gap: rem(16) 0;
    }

    display: grid;
    grid-template-columns: minmax(auto, rem(996)) minmax(auto, rem(424));
    grid-auto-rows: auto;
    gap: rem(32) rem(40);
  }

  &Block {
    padding-bottom: rem(32);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 2px;

    &Text {
      p {
        margin-bottom: rem(16);

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &Grid {
      @include media-breakpoint-down(xl) {
        grid-template-columns: repeat(2, 1fr);
        gap: 0 rem(16);
      }
      @include media-breakpoint-down(sm) {
        grid-template-columns: 100%;
        gap: rem(16);
      }

      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 0 rem(20);
    }
  }
}

.Area {
  &Main {
    position: relative;
    grid-column: 1/2;
  }

  &Aside {
    @include media-breakpoint-down(xl) {
      [class*='PageBlock'] {
        margin-bottom: rem(32);
      }
    }

    position: relative;
    grid-column: 2/-1;
  }

  &DoubleRow {
    grid-row: span 2;
  }

  &Fluid {
    @include media-breakpoint-down(xl) {
      grid-column: 1/-1;
    }
  }

  &Banner {
    margin-top: rem(-1);
  }

  &Absolute {
    position: absolute;
  }
}

.Heading {
  &H2 {
    margin: rem(32) 0 rem(24);
  }
}

.InfoBar {
  @include media-breakpoint-down(sm) {
    grid-template-columns: repeat(3, 1fr);
    gap: rem(16) rem(32);
  }

  display: grid;
  grid-template-columns: repeat(3, min-content);
  gap: rem(0) rem(60);
  margin-bottom: rem(32);

  &Cell {
    @include media-breakpoint-down(sm) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    > [class*='text-small'] {
      @include media-breakpoint-down(sm) {
        white-space: normal;
      }

      white-space: nowrap;
    }

    > [class*='text-big'] {
      color: $fontAlt;
    }
  }

  &Link {
    color: $info;
  }
}

.mt0 {
  margin-top: 0;
}
