@use 'src/scss/utils/vars' as *;
@use 'src/scss/utils/mixins' as *;

.Page {
  &Wrapper {
    padding: rem(40) 0 rem(64);
  }

  &Header {
    @include make-col-fluid();

    margin-bottom: rem(32);
  }

  &Container {
    @include media-breakpoint-down(xl) {
      grid-template-columns: minmax(auto, rem(670)) minmax(auto, rem(280));
      grid-auto-flow: column;
      gap: rem(32) rem(25);
    }

    display: grid;
    grid-template-columns: minmax(auto, rem(996)) minmax(auto, rem(424));
    grid-auto-rows: auto;
    gap: rem(32) rem(40);
  }

  &Block {
    padding-bottom: rem(32);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 2px;

    &Text {
      p {
        margin-bottom: rem(16);

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &Grid {
      @include media-breakpoint-down(xl) {
        grid-template-columns: repeat(2, 1fr);
        gap: 0 rem(16);
      }

      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 0 rem(20);
    }
  }
}

.Area {
  &Main {
    grid-column: 1/2;
  }

  &Aside {
    grid-column: 2/-1;
  }

  &DoubleRow {
    grid-row: span 2;
  }

  &Fluid {
    @include media-breakpoint-down(xl) {
      grid-column: 1/-1;
    }
  }
}

.Heading {
  &H2 {
    margin: 0 0 rem(24);
  }
}

.InfoBar {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  gap: rem(0) rem(60);
  margin-bottom: rem(32);

  &Cell {
    > [class*='text-small'] {
      white-space: nowrap;
    }

    > [class*='text-big'] {
      color: $fontAlt;
    }
  }

  &Link {
    color: $info;
  }
}

.Status {
  &Wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: rem(24);

    time {
      color: rgba(59, 60, 60, 0.6);
    }
  }

  &Indicator {
    display: flex;
    align-items: center;

    svg {
      @include size(rem(16));

      margin-right: rem(8);
    }

    p {
      margin-bottom: 0;
    }
  }
}

.mt0 {
  margin-top: 0;
}
