@use 'src/scss/utils/vars' as *;
@use 'src/scss/utils/mixins' as *;

.filter {
  &-header {
    margin-bottom: rem(8);
  }

  &-wrapper {
    @include media-breakpoint-down(xl) {
      display: flex;
      gap: rem(16);
      align-items: center;
      justify-content: flex-end;
      height: auto;
      padding-bottom: rem(16);
    }

    height: 100%;
  }

  &-button {
    justify-content: space-between;
    padding: rem(8) rem(10) rem(8) rem(20);

    &.button-primary {
      grid-column: 1/-1;
      margin-top: rem(16);
    }

    &.button-secondary {
      width: auto;
      padding-right: rem(20);
      padding-left: rem(20);
      border-color: #f0f0f0;
      background-color: #f0f0f0;

      &:hover {
        svg {
          left: -4px;
        }
      }
    }

    &-icon {
      @include media-breakpoint-down(xl) {
        @include size(rem(10));

        position: relative;
        left: 0;
        margin-right: rem(4);
        transition: left 0.3s ease;
        transform: rotate(180deg);
      }
    }
  }

  &-counter {
    @include size(rem(24));
    @include media-breakpoint-down(xl) {
      margin-left: rem(16);
    }

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: $mainFontColor;
    color: $primary;
  }

  &-item {
    display: flex;
    align-items: center;
    margin-bottom: rem(16);

    &-wrapper {
      margin-bottom: rem(16);
    }

    &-outer {
      @include media-breakpoint-down(xl) {
        position: fixed;
        top: 0;
        right: rem(-290);
        z-index: 999;
        display: flex;
        flex-direction: column;
        overflow: auto;
        width: rem(290);
        height: 100vh;
        padding: rem(40) rem(16) rem(32);
        background-color: #fff;
        transition: right 0.5s ease;

        &-backdrop {
          position: fixed;
          top: 0;
          right: -100vw;
          z-index: 998;
          width: 100vw;
          height: 100vh;
          background-color: rgba(63, 71, 86, 0.4);
          transition: right 0.5s ease;

          &.is-expanded {
            right: 0;
          }
        }

        &.is-expanded {
          right: 0;
        }
      }
    }

    .text-regular {
      margin-left: rem(16);
    }
  }

  &-comparsion {
    position: sticky;
    top: rem(72); // header height
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(3, 80px);
    gap: rem(8);
    margin-bottom: rem(32);
    padding-top: rem(8);
    padding-bottom: rem(32);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    background-color: #fff;
  }

  &-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(80);
    height: rem(56);

    img {
      object-fit: contain;
      width: auto;
      height: auto;
    }
  }

  &-close {
    @include size(rem(16));

    position: fixed;
    top: rem(16);
    right: rem(-16);
    z-index: 999;
    transition: right 0.5s ease;

    &.is-expanded {
      right: rem(16);
    }
  }
}
