@use 'src/scss/utils/vars' as *;
@use 'src/scss/utils/mixins' as *;

.Table {
  &Body {
    display: grid;
    grid-template-columns: 1fr;
    gap: rem(16) rem(20);
  }

  &Row {
    @include media-breakpoint-down(xl) {
      grid-template-columns: repeat(2, minmax(rem(170), rem(276)));
      gap: rem(16) rem(20);
    }

    display: grid;
    grid-template-columns: repeat(2, minmax(rem(120), rem(425)));
    gap: rem(16) rem(20);

    a {
      color: $info;
      text-decoration: none;
    }

    p {
      @include media-breakpoint-down(xl) {
        @include font-size(14);

        line-height: 1.5;
      }
    }
  }
}
