@use 'src/scss/utils/vars' as *;
@use 'src/scss/utils/mixins' as *;

.input-search {
  display: block;
  width: 100%;
  padding: 0;
  background-color: transparent;
  color: $fontAlt;

  &-wrapper {
    @include size(rem(40));
    @include media-breakpoint-down(sm) {
      @include size(rem(32));
    }

    display: flex;
    align-items: center;
    border-radius: rem(100);
    background-color: $primary;
    transition: width 0.5s ease;

    &.is-expanded {
      width: 100%;
      padding-right: rem(10);

      .input-search-form {
        width: 100%;
      }
    }

    &.is-loading {
      .input-search-icon {
        @include infinity-rotation();
      }
    }
  }

  &-icon {
    @include size(rem(20));

    pointer-events: none;
    user-select: none;

    use {
      pointer-events: none;
      user-select: none;
    }
  }

  &-button {
    @include size(rem(40));
    @include media-breakpoint-down(sm) {
      @include size(rem(32));
    }

    display: flex;
    align-items: center;
    justify-content: center;
    padding: rem(10);

    &:focus {
      outline: 0;
    }
  }

  &-form {
    display: block;
    width: 0;
  }
}
