@use 'src/scss/utils/vars' as *;
@use 'src/scss/utils/mixins' as *;

.TopBar {
  @include media-breakpoint-down(lg) {
    display: grid;
    grid-template-columns: minmax(auto, rem(116)) repeat(3, minmax(auto, rem(80))) 1fr rem(180);
    gap: rem(20);
  }
  @include media-breakpoint-down(sm) {
    grid-template-columns: rem(90) repeat(3, 1fr);
  }

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: rem(32);

  &Button {
    @include media-breakpoint-down(lg) {
      padding-right: 0;
      padding-left: 0;
    }
    @include media-breakpoint-down(sm) {
      @include make-col-size(2, 1);
    }

    padding-right: rem(32);
    padding-left: rem(32);
  }
}

.Logo {
  @include media-breakpoint-down(sm) {
    width: 100%;
    height: auto;
  }

  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(116);
  height: rem(80);
  padding: rem(6);
  border-radius: rem(4);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

  img {
    @include media-breakpoint-down(sm) {
      width: 100%;
      height: auto;
      max-height: rem(48);
    }

    object-fit: contain;
    width: 100%;
    height: 100%;
    object-position: center;
  }
}

.Cell {
  @include media-breakpoint-down(lg) {
    align-self: start;
  }

  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: flex-start;

  &Header {
    @include media-breakpoint-down(lg) {
      min-height: rem(40);
    }

    margin-bottom: rem(8);
  }

  &Body {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &Descr {
    @include media-breakpoint-down(lg) {
      @include font-size(24);
    }

    margin-right: rem(12);
  }

  &Icon {
    @include media-breakpoint-down(lg) {
      display: none;
    }
    @include size(rem(24));

    fill: $primary;
  }
}

.Contacts {
  @include media-breakpoint-down(sm) {
    @include make-col-size(2, 1);

    justify-content: flex-start;
  }

  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;

  svg {
    @include media-breakpoint-down(lg) {
      display: block;
    }

    margin-right: rem(8);
  }
}
