header.header
  +wrapper('header')
    a(href="/").header__brand
      +icon('header__brand-logo', 'logo')
    .header__nav-wrapper
      +buttonPrimary('#', false, 'header__nav-trigger')
        +icon('input-search-icon', 'hamburger-icon')
      nav.header__nav
        a(href="#").h3.header__nav-link.is-active Рейтинг брокеров
        a(href="#").h3.header__nav-link Котировки
        a(href="#").h3.header__nav-link Прогнозы
    .header__socials-wrapper
      +inputSearch(false, 'search-header')
      a(href="#").header__socials-item
        +icon('header__socials-icon', 'vk')
      a(href="#").header__socials-item
        +icon('header__socials-icon', 'fb')
      a(href="#").header__socials-item
        +icon('header__socials-icon', 'tg')

header.header__mobile
  .header__mobile-backdrop
  .header__mobile-menu-wrapper
    .header__mobile-menu-controls
      +inputSearch(false, 'search-header-mobile')
      a(href="#").header__mobile-menu-close
        +icon('header__mobile-menu-close-icon', 'cross-icon')
    nav.header__mobile-menu
      a(href="#").text-regular.header__mobile-menu-link
        | Рейтинг брокеров
        +icon('header__mobile-menu-icon', 'chevron-right-icon')
      a(href="#").text-regular.header__mobile-menu-link
        | Котировки
        +icon('header__mobile-menu-icon', 'chevron-right-icon')
      a(href="#").text-regular.header__mobile-menu-link
        | Прогнозы
        +icon('header__mobile-menu-icon', 'chevron-right-icon')
    .header__mobile-menu-bottom
      .header__socials-wrapper
        a(href="#").header__socials-item
          +icon('header__socials-icon', 'vk')
        a(href="#").header__socials-item
          +icon('header__socials-icon', 'fb')
        a(href="#").header__socials-item
          +icon('header__socials-icon', 'tg')
      p.text-extrasmall.header__mobile-menu-bottom-text Присоединяйтесь!
