footer.footer
  +wrapper('footer')
    .footer__top
      nav.footer__nav
        a(href="#").h3.footer__nav-link
          span Рейтинг брокеров
          +icon('footer__nav-icon', 'chevron-right-icon')
        a(href="#").h3.footer__nav-link
          span Котировки
          +icon('footer__nav-icon', 'chevron-right-icon')
        a(href="#").h3.footer__nav-link
          span Прогнозы
          +icon('footer__nav-icon', 'chevron-right-icon')
      .footer__socials-wrapper
        p.text-extrasmall.footer__text.footer__socials-text Присоединяйтесь!
        a(href="#").footer__socials-item
          +icon('footer__socials-icon', 'vk')
        a(href="#").footer__socials-item
          +icon('footer__socials-icon', 'fb')
        a(href="#").footer__socials-item
          +icon('footer__socials-icon', 'tg')
    p.text-regular.footer__text Основание для выбора компании должно быть комплексным. Вас должны удовлетворять все критерии: авторитетность и имидж брокера на рынке, история работы в России и наличие обучающих материалов. Важной характеристикой в рейтинге брокеров Форекс является удобство и бесперебойность торговой платформы, быстрая техническая поддержка и наконец, низкие спреды. Если вы планируете сделку с долгосрочной перспективой высокий спред может потратить значительную часть депозита.
    a(href="/").footer__brand
      +icon('footer__brand-logo', 'logo')
