extends ../../layout/main

block variables
  - title = 'TrueBRO';
  - description = '';
  - theme = '#FDD835';
  - slug = 'compare';
  - pageClass = slug + '-page';

block content
  +breadcrumbs(
    [
      {
        href: '/',
        descr: 'Рейтинг брокеров'
      },
      {
        href: '/compare.html',
        descr: 'Сравнение форекс брокеров'
      }
    ]
  )
  +screenBanner(
    slug,
    'Сравнение форекс брокеров',
    'Выбрать подходящую брокерскую компанию среди достаточно большого количества различных предложений весьма сложно. Справиться с данной задачей поможет профессионально выполненное и внимательное сравнение брокеров Форекс на этой странице'
  )
  include ../../components/table/table
  +screenBroker(
    'Как сравнить и выбрать лучшую компанию',
    'Выбор надежного брокера Форекс - это наиболее важный этап в работе любого трейдера. Важно чтобы компания заботилась об интересах своего клиента. Представленный выше рейтинг брокеров Форекс РФ подскажет Вам чьи услуги пользователи ценят больше. Именно качество услуг, предлагаемых выбранной компанией, в конечном счете влияет на то, достигнете ли Вы успеха в валютном трейдинге. Учитывая, что рынок Форекс в 2019 году в России только начинает законодательно регулироваться, этому вопросу стоит уделить особо пристальное внимание. Будьте внимательны в выборе брокера, Вы вкладываете собственные деньги и они должны работать на Вас!',
    'brand-compare'
  )
