// global uils

@use './utils/vars' as *;
@use './utils/mixins' as *;
@use './utils/reset' as *;
@use './utils/fonts' as *;
@use './utils/typography' as *;

// global rules
button {
  padding: 0;
  background-color: transparent;
}

.is-modal-open {
  overflow: hidden;
}

.icon {
  @include size(rem(24));

  &-big {
    @include size(rem(40));
  }
}

.container {
  @include make-container();
  @include make-grid-container-max-widths();
  @include media-breakpoint-down(sm) {
    padding-right: rem(12);
    padding-left: rem(12);
  }
}

.compensate-header {
  width: 100%;
  padding-top: rem(72 + 16);
}
