extends ../../layout/main

block variables
  - title = 'TrueBRO';
  - description = '';
  - theme = '#FDD835';
  - slug = 'ui';
  - pageClass = slug + '-page';

block content
  .container
    .ui-grid
      .col
        h1 Typography

        h1.h1.bold H1 Desktop 48
        h1.h1.bold Н1 Mobile 40

        h2.h2.bold Н2 Dsktop 32
        h2.h2.bold Н2 Mobile 28

        h3.h3.bold Н3 Dsktop Mobile 20

        p.text-regular Body1  16

        p.text-small Body2  14

        p.text-extrasmall Body3  12
    .ui-grid
      p.ui-fluid.text-regular Buttons
      .col
        +buttonPrimary('#', 'Подписаться')
      .col
        +buttonSecondary('#', 'Подписаться')
      p.ui-fluid.text-regular Inputs
        .col
          +inputCheckbox('test')
