@mixin slide-down($duration: 0.3s, $fill: forwards) {
  @keyframes slidedown {
    0% {
      opacity: 0;
      transform: translateY(-60px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  transform-origin: top center;
  animation-name: slidedown;
  animation-duration: $duration;
  animation-timing-function: ease-in-out;
  animation-fill-mode: $fill;
}
@mixin infinity-rotation() {
  @keyframes infinity-rotation {
    to {
      transform: rotate(360deg);
    }
  }

  animation-name: infinity-rotation;
  animation-duration: 2.5s;
  animation-play-state: running;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
