@use 'src/scss/utils/vars' as *;
@use 'src/scss/utils/mixins' as *;

.ScreenBanner {
  padding: rem(56 - 16) 0 rem(64);

  &Outer {
    max-width: rem(1145);
  }

  [class~='h1'] + [class~='text-regular'] {
    margin-top: rem(40);
  }
}
